.text-area{
    display: block;
    /* max-width: 900px; */
    width: 60%;
    height: 10vh;
    padding: 2rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top:2rem ;
}
.button-area{

    display: block;
    margin: auto;
    margin-bottom: 2rem;
    margin-top:2rem ;
    padding: 1rem 1.5rem;
    
}

#output{
    display: block;
    width: 60%;
    border: 1px solid black;
    height: 10vh;
    padding: 2rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top:2rem ;

}
.output-text{
    text-align: center;
    font-size: x-large;
    margin-bottom: 2rem;
    margin-top:2rem ;
}